
.container {
    border: solid 1px lightgrey;
    margin: 15%;
    box-shadow: 5px 5px 2px lightgrey;
 
}

.header {
    padding-left: 2%;
    padding-right: 0%;
    border: solid lightgrey 0.8px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 2px lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.todoList {
    padding-left: 4%;
    padding-right: 0%;
    border: solid lightgrey 0.8px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.inputField {
    size: small;
    padding-left: 2%;
    padding-right: 0%;
    border: solid lightgrey 0.8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-style: normal grey;

}